body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    padding: 20px;
    max-width: 900px;
}

#name {
    font-weight: bold;
    text-align: center;
    font-size: 28px;
}

.contact {
    color: blue
}
.contact:hover {
    color: #cc0000;
    text-decoration: underline;
}